

.page_box{
	margin-top:20px;
	position:relative;
	float:right;
}
.fl {
  float: left;
}
.box {
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.box button {
  padding: 0 10px;
  margin: 0 10px;
  height: 40px;
  float: left;
  cursor: pointer;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  border-radius:4px;
}
.box button:hover{
	border-color:#2d8cf0;	
}
.box button:hover[disabled=disabled]:hover{
	border-color:#ebebeb;
	cursor:not-allowed;	
}
.box .first-page,
.box .last-page {
  margin: 0;
  border-radius:4px;
}
.box .pageWrap {
  height: 40px;
  float: left;
  overflow: hidden;
}
.box .pageWrap ul {
  width: 100000px;
  height: 40px;
  float: left;
}
.box .pageWrap ul li {
  width: 40px;
  height: 40px;
  border: 1px solid #ebebeb;
  line-height: 40px;
  box-sizing: border-box;
  cursor: pointer;
  float: left;
  border-radius:4px;
  margin:0 2px;
}
.box .pageWrap ul li:hover{
	border:1px solid #2d8cf0;
}
.box .pageWrap ul .sel-page {
  background-color:#2d8cf0;
  color:#fff;
}
.box .jump-text {
  width: 60px;
  height: 40px;
  box-sizing: border-box;
  text-align: center;
  margin: 0 5px;
  float: left;
  border:1px solid #ebebeb;
}
.box .jump-button {
  margin: 0;
  float: left;
}
.box .total-pages,
.box .total-count {
  margin-left: 10px;
  float: left;
  font-size: 14px;
  line-height:40px;
}
