@charset "utf-8";


.publish_cont{
	padding:20px;
	min-width:984px;	
}
.publish_cont h2{
	padding-bottom:10px;
	border-bottom:1px solid #b3b3b3;
	font-size:20px;
	color:#000;	
}
.publish_cont h2 span{
	font-size:12px;
	color:#585858;
	vertical-align:bottom;
	margin-left:10px;	
}


/*
	相关信息
*/
.infor_box{
	margin-top:26px;
	padding:0 18px;
}

.first{
	padding:0 88px 0 30px;		
}
.step_infor_two{
	width:100%;
	position:relative;	
}
.step_infor_two h4{
	width:70px;
	line-height:30px;	
}
.step_tit_box{
	position:absolute;
	left:70px;
	top:0;
	right:0;	
}
.step_tit_box div.fl{
	width:5.6%;
	height:30px;
	background:#3ba5ec;
	font-size:24px;
	color:#fff;
	text-align:center;
	line-height:30px;
}
.step_tit_box div.fr{
	box-sizing:border-box;
	width:94.4%;
	border:1px solid #ddd;
	height:30px;	
}
.step_tit_box div.fr input{
	box-sizing:border-box;
	padding:0 12px;
	width:100%;
	height:100%;
	border:none;
	font-size:12px;	
}
.first_tishi{
	margin-left:70px;
	height:24px;
	font-size:12px;
	color:#acacac;
	line-height:24px;	
}

/*图片*/
.cover{
	margin-top:58px;	
}
.cover h4{
	height:160px;
}
.cover_pic{
	height:160px;	
}
.upload_pic{
	float:left;
	width:88px;
	height:158px;
	border:1px solid #ddd;
	
}
.peacock_pic{
	width:100%;
	height:100%;
	background:url(../img/upload_pic2.png) no-repeat;
	cursor:pointer;		
}
.peacock_pic img{
	width:100%;
	height:100%;	
}
.special_pic{
	position:relative;	
}
.close_btn{
	position:absolute;
	right:1px;
	top:1px;
	width:22px;
	height:22px;
	background:url(../img/close_btn.png) no-repeat;	
}
.upload_pic_tishi{
	float:left;
	color:#acacac;
	font-size:12px;
	line-height:160px;
	margin-left:26px;	
}

.stop_time{
	margin-top:46px;	
}
.stop_time_tit input{
	width:80px;
	height:28px;
	border:1px solid #ddd;
	padding:0 5px;
	margin-right:8px;	
}


/*功能点击按钮*/
.fun_btn_box{
	margin-top:100px;
	height:40px;
}
.fun_btn_box li{
	float:left;
	width:90px;
	height:100%;
	text-align:center;
	border-radius:4px;
	margin:0 10px;
	color:#fff;
	overflow:hidden;
}
.fun_btn_box li a{
	display:inline-block;
	width:100%;
	height:100%;
	color:#fff;
	font-size:16px;
	line-height:40px;	
}
.fun_blue{
	background:#3ba5ec;	
}

.fun_o{
	background:#f1ab24;
}
#repease_btn,#locking_btn{
	width:100%;
	height:100%;
	background:#f1ab24;
	color:#fff;
	border:none;
	font-size:16px;
	cursor:pointer;	
}
#repease_btn[disabled=disabled],#locking_btn[disabled=disabled]{
	background:#f3f3f3;
	border:1px solid #ddd;
	color:#b9b9b9;
}

/*底部声明*/
.statement_box{
	width:100%;
	font-size:12px;
	margin:80px 0;
	color:#000;
	text-align:center;
}


/*
	预览窗
*/
#dialog_yulan{
	width:384px;
	height:793px;
	background:url(../img/phone_bac.png) no-repeat;
	position:fixed;
	left:50%;
	top:50%;
	margin-top:-396px;
	margin-left:-192px;
	z-index:1000;	
}
#firstYl_frame{
	position:absolute;
	width:338px;
	height:598px;
	left:23px;
	top:97px;
}


/*封面图片*/
#fengmianPic{
	position:fixed;
	width:400px;
	height:400px;
	background:pink;
	left:50%;
	top:50%;
	margin-left:-200px;
	margin-top:-200px;	
}
#close_btn_feng{
	position:absolute;
	right:5px;
	top:5px;
	width:22px;
	height:22px;
	background:url(../img/close_btn.png) no-repeat;
}

/*链接地址*/
.link_adr input{
	width:458px;
	height:28px;
	background:#fff;
	border:1px solid #ddd;
}

































































